<!DOCTYPE html>

<html>
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>

    <body>

    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">Tokyo Olympics</h1>
    </main>
    <div>
      <input type="text" placeholder="(Field):(Value)" id="searchbar">
      <button onclick="commandServerToRender()"> Search! </button>
      <script>
          function updateDOMTable(updatedTablePartial) {
            console.log(updatedTablePartial);
            var currentTable = document.getElementById("table1");
            currentTable.innerHTML = updatedTablePartial;
          }

          function commandServerToRender1() {
              search_text = document.getElementById("searchbar").value;

              var xhr = new XMLHttpRequest();
              var url = "/coach/search?search_text=" + encodeURIComponent(search_text)

              xhr.open("GET", url, true);

              xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                  var updatedTablePartial = xhr.responseText;
                  updateDOMTable(updatedTablePartial);
                }
              };

              xhr.send();
          }
      </script>
    </div>

    <div>
      <input type="text" placeholder="Comma separated record" id="insertbar">
      <button onclick="commandServerToRender()"> Insert! </button>
      <script>
          function commandServerToRender() {
              insert_text = document.getElementById("insertbar").value;

              var xhr = new XMLHttpRequest();
              var url = "/coach/insert";

              xhr.open("POST", url, true);
              xhr.setRequestHeader("Content-Type", "application/json");

              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      if (xhr.responseText == '0') {
                        console.log(insert_text);

                      } else {
                        console.log("fai");
                        console.log(insert_text);

                      }
                  }
              };

              var data = JSON.stringify({"htmlstr": insert_text});
              xhr.send(data);
              console.log("yer");
          }
      </script>
    </div>

    <div>
      <input type="text" placeholder="(Field):(Value)" id="deletebar">
      <button onclick="commandServerToRender()"> Delete! </button>
      <script>
          function commandServerToRender() {
              delete_text = document.getElementById("deletebar").value;

              var xhr = new XMLHttpRequest();
              var url = "/coach/delete";

              xhr.open("POST", url, true);
              xhr.setRequestHeader("Content-Type", "application/json");

              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      if (xhr.responseText == '0') {
                        console.log(delete_text);

                      } else {
                        console.log("fai");
                        console.log(delete_text);

                      }
                  }
              };

              var data = JSON.stringify({"htmlstr": delete_text});
              xhr.send(data);
              console.log("yer");
          }
      </script>
    </div>

    <div>
      <input type="text" placeholder="(Field):(Value)" id="updatesetbar">
      <input type="text" placeholder="(Field):(Value)" id="updatewherebar">
      <button onclick="commandServerToRender()"> Update! </button>
      <script>
          function commandServerToRender() {
              updateset_text = document.getElementById("updatesetbar").value;
              updatewhere_text = document.getElementById("updatewherebar").value;

              var xhr = new XMLHttpRequest();
              var url = "/coach/update";

              xhr.open("POST", url, true);
              xhr.setRequestHeader("Content-Type", "application/json");

              xhr.onreadystatechange = function () {
                  if (xhr.readyState === 4 && xhr.status === 200) {
                      if (xhr.responseText == '0') {
                        console.log(updateset_text);
                        console.log(updatewhere_text);

                      } else {
                        console.log("fai");
                        console.log(updateset_text);
                        console.log(updatewhere_text);

                      }
                  }
              };

              var data = JSON.stringify({"htmlstr1": updateset_text, "htmlstr2": updatewhere_text});
              xhr.send(data);
              console.log("yer");
          }
      </script>
    </div>

    <div>
      <input type="text" placeholder="Search" id="searchbarq1">
      <button onclick="myhref1()" id="myButton" class="float-left submit-button" >Adv Query 1</button>
      <script>
        function myhref1() { 
          search_text = document.getElementById("searchbarq1").value;
          location.href = "/query1/" + encodeURIComponent(search_text);
        }
      </script>
      </div>
      <div>
        <input type="text" placeholder="Search" id="searchbarq2">
      <button onclick="myhref2()" id="myButton" class="float-left submit-button" >Adv Query 2</button>
      <script>
        function myhref2() { 
          search_text = document.getElementById("searchbarq2").value;
          location.href = "/query2/" + encodeURIComponent(search_text);
        }
      </script>
      </div>
    <br><br>
    <input type="text" placeholder="Country Code" id="searchbarq3">
    <input type="text" placeholder="Discipline Name" id="searchbarq4">
    <button onclick="myhref3()" id="myButton" class="float-left submit-button" >Transaction</button>
    <script>
      function myhref3() { 
        country_text = document.getElementById("searchbarq3").value;
        discipline_text = document.getElementById("searchbarq4").value;
        location.href = "/transaction/" + encodeURIComponent(country_text) + "/" + encodeURIComponent(discipline_text);
      }
    </script>
    <br><br>
    <button onclick="location.href = '/athlete';" id="myButton" class="float-left submit-button" >Athletes</button>
    <button onclick="location.href = '/coach';" id="myButton" class="float-left submit-button" >Coaches</button>
    <button onclick="location.href = '/country';" id="myButton" class="float-left submit-button" >Country</button>
    <br><br>

    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>

            <th class="name"> Name</th>
            <th class="CCA3"> CCA3</th>
            <th class="discipline_name">Discipline Name</th>
            <th class="event">Event</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
         
                <td>{{item.name}}</td>
                <td>{{item.CCA3}}</td>
                <td>{{item.discipline_name}}</td>
                <td>{{item.event}}</td>
                
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>


  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</html>
